## here the repo file is putting in roles files directly without downloading.
## here status checks is doing automatically by ansible.
- name: Setting MongoDB Repo
  ansible.builtin.copy:
    src: mongo.repo
    dest: /etc/yum.repos.d/mongodb.repo


- name: Installing MongoDB Repo
  ansible.builtin.yum:
    name: mongodb-org
    state: Installed

- name: updating listener config
  ansible.builtin.replace:
    path: /etc/mongod.conf
    regexp: '127.0.0.1'
    replace: '0.0.0.0'


#echo "updating listener config"
#sed -i -e 's/127.0.0.1/0.0.0.0/' /etc/mongod.conf
#StatusCheck $?
#
#echo "starting mongodb service"
#systemctl enable mongod &>>$LOG_FILE
#systemctl restart mongod &>>$LOG_FILE
#StatusCheck $?
#
#echo "downloading Mongodb schema"
#curl -s -L -o /tmp/mongodb.zip "https://github.com/roboshop-devops-project/mongodb/archive/main.zip" &>>$LOG_FILE
#
#
#cd /tmp
#echo "extracting schema files"
#unzip -o mongodb.zip &>>$LOG_FILE
#StatusCheck $?
#
#
#cd mongodb-main
#
#echo "load Catalogue Service Schema"
#mongo < catalogue.js &>>$LOG_FILE
#StatusCheck $?
#
#echo "Load User Service Schema"
#mongo < users.js &>>$LOG_FILE
#StatusCheck $?
#
### Load schema can be done using loops also
##for schema in catalogue.js users.js ; do
##  mongo < ${schema} &>>$LOG_FILE
##done