## here the repo file is putting in roles files directly without downloading.
## here status checks is doing automatically by ansible.
- name: Setting MongoDB Repo
  ansible.builtin.copy:
    src: mongo.repo
    dest: /etc/yum.repos.d/mongodb.repo


- name: Installing MongoDB Repo
  ansible.builtin.yum:
    name: mongodb-org
    state: installed

- name: updating listener config
  ansible.builtin.replace:
    path: /etc/mongod.conf
    regexp: '127.0.0.1'
    replace: '0.0.0.0'

- name: starting MongoDB Repo
  ansible.builtin.systemd:
    name: mongod
    state: restarted
    enabled: yes

- name: downloading Mongodb schema and Extract it
  ansible.builtin.unarchive:
    src: https://github.com/roboshop-devops-project/mongodb/archive/main.zip
    dest: /tmp
    remote_src: yes
## remote_src:Set to true to indicate the archived file is already on the remote system and not local to the Ansible controller.
### Load schema can be done using loops also
#- name: load Schema
#  community.mongodb.mongodb_shell:
#    file: "/tmp/mongodb-main/{{item}}.js"
#    idempotent: yes
#  loop:
#    - catalogue
#    - users

- name: load Catalogue Service Schema
  community.mongodb.mongodb_shell:
    file: /tmp/mongodb-main/catalogue.js
    idempotent: yes
## idempotent it wont recreate the schema if yes

- name: load User Schema
  community.mongodb.mongodb_shell:
    file: "/tmp/mongodb-main/users.js"
    idempotent: yes
## if idempotent yes, it wont recreate the schema if it exists


