- name: Install Nginx
  ansible.builtin.yum:
    name: nginx
    state: installed

- name: start Nginx Service
  ansible.builtin.systemd:
    state: started
    name: nginx

- name: removing old content
  ansible.builtin.file:
    path: /usr/share/nginx/html
    state: absent

- name: downloading Nginx web content and Extract it
  ansible.builtin.unarchive:
    src: https://github.com/roboshop-devops-project/frontend/archive/main.zip
    dest: /usr/share/nginx/html
    remote_src: yes

#  echo extracting web content
#  unzip /tmp/frontend.zip &>>$LOG_FILE
#  mv frontend-main/static/* . &>>$LOG_FILE
#  StatusCheck $?

#
#  echo "moving config file to etc"
#  mv frontend-main/localhost.conf /etc/nginx/default.d/roboshop.conf &>>$LOG_FILE
#
#  echo "Updating front config file"
#  sed -i -e '/catalogue/ s/localhost/catalogue.roboshop.internal/' -e '/user/ s/localhost/user.roboshop.internal/' -e '/cart/ s/localhost/cart.roboshop.internal/' -e '/shipping/ s/localhost/shipping.roboshop.internal/' -e '/payment/ s/localhost/payment.roboshop.internal/' /etc/nginx/default.d/roboshop.conf &>>$LOG_FILE
#  StatusCheck $?
#
#  #for component in catalogue user cart payment shipping ; do
#  # sed -i -e "/${component}/ s/localhost/${component}.roboshop.internal/" /etc/nginx/default.d/roboshop.conf &>>$LOG_FILE
#  #done
#
#  echo starting Nginx Service
#  systemctl enable nginx &>>$LOG_FILE
#  systemctl restart nginx &>>$LOG_FILE
#  StatusCheck $?


- name: downloading Nginx web content
  ansible.builtin.get_url:
    url: https://github.com/roboshop-devops-project/frontend/archive/main.zip
    dest: /tmp/frontend.zip
