#LOG_FILE=/tmp/mysql
#source common.sh
#
#if [ -z ${ROBOSHOP_MYSQL_PASSWORD} ]; then
#
#echo "ROBOSHOP_MYSQL_PASSWORD env variable needed"
#exit 1
#fi
#
#echo "Setting UP MYSQL Repo File"
#curl -s -L -o /etc/yum.repos.d/mysql.repo https://raw.githubusercontent.com/roboshop-devops-project/mysql/main/mysql.repo &>>${LOG_FILE}
#StatusCheck $?

- name: Setting UP MYSQL Repo File
  ansible.builtin.copy:
    src: mysql.repo
    dest: /etc/yum.repos.d/mysql.repo


#
#echo "Disable MYSQL Default Module to Enable 5.7 MYSQL"
#dnf module disable mysql -y &>>${LOG_FILE}
#StatusCheck $?

- name: Disable MYSQL Default Module to Enable 5.7 MYSQL
  ansible.builtin.shell: dnf module disable mysql -y


#echo "Install MYSQL"
#yum install mysql-community-server -y &>>${LOG_FILE}
#StatusCheck $?

- name: Install MYSQL server and python dependancies
  ansible.builtin.yum:
    name: "{{item}}"
    state: installed
  loop:
    - mysql-community-devel
    - mysql-community-server
    - gcc
    - python36-devel

- name: install Mysqlclient pip3 module
  ansible.builtin.pip:
    name: mysqlclient
    executable: pip3

#echo "Enabling MYSQL Service"
#systemctl enable mysqld &>>${LOG_FILE}
#StatusCheck $?
#echo "Satarting MYSQL Service"
#systemctl restart mysqld &>>${LOG_FILE}
#StatusCheck $?

- name: Enabling and Starting MYSQL Service
  ansible.builtin.systemd:
    name: mysqld
    state: started
    enabled: yes


#echo "Storing Default password"
#DEFAULT_PASSWORD=$(grep 'temporary password' /var/log/mysqld.log | awk '{print $NF}') &>>${LOG_FILE}
#StatusCheck $?

- name: Extract Password from a File
  ansible.builtin.slurp:
    src: /var/log/mysqld.log
  register: out

- name: Print out
  debug:
    msg: "{{ out['content'] | b64decode | regex_findall('temporary password .*') | join(' ') | split(' ') | last }}"



#echo "show databases;" | mysql -uroot -p${ROBOSHOP_MYSQL_PASSWORD} &>>${LOG_FILE}
#if [ $? -ne 0 ]; then
#echo "Changing mysql default  Root Password"
#
- name: Check MYSQL new credentials are working
  community.mysql.mysql_info:
    login_user: root
    login_password: "{{ROBOSHOP_MYSQL_PASSWORD}}"
    filter: version
  ignore_errors: yes
  register: mysql_conn_status # to check whether connection is failed, passed. if fail need to change password.

#- name: print out status
#  debug:
#    msg: "{{mysql_conn_status}}"


#  ### storing changed password
#echo "SET PASSWORD FOR 'root'@'localhost' = PASSWORD('${ROBOSHOP_MYSQL_PASSWORD}'); FLUSH PRIVILEGES;" > /tmp/root-pass.sql

- name: copy mysql password reset file to reset
  ansible.builtin.copy:
    src: reset-root-pass.sql
    dest: /tmp/root-pass.sql
  when: mysql_conn_status is failed

#mysql --connect-expired-password -uroot -p${DEFAULT_PASSWORD} < /tmp/root-pass.sql &>>${LOG_FILE}
#StatusCheck $?
#fi

#  # uninstall plugin validate_password;
#echo "show plugins" | mysql -uroot -p${ROBOSHOP_MYSQL_PASSWORD} 2>>${LOG_FILE} | grep validate_password &>>${LOG_FILE}
#if [ $? -eq 0 ]; then
#echo "uninstall password validation plugin"
#echo "uninstall plugin validate_password;" | mysql -uroot -p${ROBOSHOP_MYSQL_PASSWORD} &>>${LOG_FILE}
#StatusCheck $?
#fi
#
#echo "Download Schema"
#curl -s -L -o /tmp/mysql.zip "https://github.com/roboshop-devops-project/mysql/archive/main.zip" &>>${LOG_FILE}
#StatusCheck $?
#
#cd /tmp
#echo "Extract Schema"
#unzip -o mysql.zip &>>${LOG_FILE}
#StatusCheck $?
#
#echo "Load Schema"
#cd mysql-main
#mysql -u root -p${ROBOSHOP_MYSQL_PASSWORD} <shipping.sql &>>${LOG_FILE}
#StatusCheck $?
#
