- name: Setup NodeJS Repo
  ansible.builtin.shell: curl -sL https://rpm.nodesource.com/setup_lts.x | bash

- name: installing nodejs
  ansible.builtin.yum:
    name: nodejs
    state: installed

#  APP_PRESETUP
## imporrting role task of one file(roles/common/task/app-presetytup.yaml) to same role task of another file(roles/common/task/nodejs.yml)
- name: Import App Pre-setup task file
  ansible.builtin.import_tasks: app-presetup.yml


#  echo "installing nodejs dependancies"
#  npm install &>>${LOG_FILE}
#  StatusCheck $?

- name: Install packages based on package.nodejs
  npm:
    path: /home/roboshop/{{COMPONENT}}
  become_user: roboshop

#- name: Download the DocumentDB Pem file
#  get_url:
#    url:
#    dest:
#  SYSTEMD_SETUP
- name: Import SystemD task file
  ansible.builtin.import_tasks: systemd.yml