# echo "Update SystemD Service File"
#    sed -i -e 's/REDIS_ENDPOINT/redis.roboshop.internal/' -e 's/MONGO_ENDPOINT/mongodb.roboshop.internal/' -e 's/CATALOGUE_ENDPOINT/catalogue.roboshop.internal/' -e 's/MONGO_DNSNAME/mongodb.roboshop.internal/' -e 's/CARTENDPOINT/cart.roboshop.internal/' -e 's/DBHOST/mysql.roboshop.internal/' -e 's/CARTHOST/cart.roboshop.internal/' -e 's/USERHOST/user.roboshop.internal/' -e 's/AMQPHOST/rabbitmq.roboshop.internal/' /home/roboshop/${COMPONENT}/systemd.service
#    StatusCheck $?
#
#  echo "setup ${Component} Service"
#    mv /home/roboshop/${COMPONENT}/systemd.service /etc/systemd/system/${COMPONENT}.service &>>${LOG_FILE}
#    StatusCheck $?
#
#    echo "daemon reload"
#    systemctl daemon-reload &>>${LOG_FILE}
#    StatusCheck $?
#
#    echo "user application starting"
#    systemctl restart ${COMPONENT} &>>${LOG_FILE}
#    StatusCheck $?
#
#    echo "user application starting at boot level as well"
#    systemctl enable ${COMPONENT} &>>${LOG_FILE}
#    StatusCheck $?

