[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST="{{SECRETS.ELASTICACHE_ENDPOINT}}"
Environment=CATALOGUE_HOST="{{ lookup('aws_ssm', 'roboshop.{{ENV}}.cart.CATALOGUE_HOST', region='us-east-1' ) }}"
Environment=CATALOGUE_PORT=80
ExecStart=/bin/node /home/roboshop/cart/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target
