groups:
  - name: Alerts
    rules:
      - alert: InstanceDown
        expr: up == 0
        for: 1m
        labels:
          severity: critical
        annotations:
          {% raw %}summary: "Instance Down - [{{ $labels.instance}}]"{% endraw %}

          {% raw %}description: "Instance Down - [{{ $labels.instance}}]"{% endraw %}

      - alert: NodeMemoryHighUsage
        expr: node_memory_used_percent > 80
        for: 1m
        labels:
          severity: critical
        annotations:
          {% raw %}summary: "high Memory Usage - [{{ $labels.Name}}]"{% endraw %}

          {% raw %}description: "high Memory Usage - [{{ $labels.Name}}]\n Private IP Address = [{{$labels.Name}}]"{% endraw %}